LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_TRACING=true
LANGGRAPH_ASSISTANT_ID=simple-agent
LANGSMITH_PROJECT=<<Change to your name of choice"faisal-app"
# Hackathon workspace
LANGSMITH_WORKSPACE_ID=3cf529b1-af25-43e1-bb6d-06a2ce295d40
OPENAI_BASE_URL=<<YOUR OPENAI API URL
EMBEDDING_MODEL_NAME=BAAI/bge-base-en-v1.5
EMBEDDING_CACHE_DIR=.cache/fastembed
MODEL_NAME=gpt-5-mini
LANGSMITH_DEPLOYMENT_NAME='langchain-basics'
# Set LANGSMITH_API_KEY in your shell, not here.
# Set OPENAI_API_KEY in your shell, not here.
